<div class="container py-5 ">
    <h2>reset your account password</h2>

    <div *ngIf="apiError" class="alert alert-danger apiError">

        {{apiError | trim:8}}  <!-- lw 3ndo error ytb3o -->
        
    </div>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm)">

        <!-- Email -->
        <div class="form-floating mb-3">
            <input type="email" class="form-control" formControlName="email" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">email</label>
        </div>

        <!-- Validate of Email -->
        <div class="alert alert-danger" *ngIf="resetPasswordForm.get('email')?.errors && resetPasswordForm.get('email')?.touched || isNotValidForm">
            <p class="mb-0" *ngIf="resetPasswordForm.get('email')?.getError('required')">Email is required</p>
            <p *ngIf="resetPasswordForm.get('email')?.getError('email')" class="mb-0"> Email Invalid</p>

        </div>

        <!-- password -->
        <div class="form-floating mb-3">
            <input type="password" class="form-control" formControlName="newPassword" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">new password</label>
        </div>

        <!-- Validate of password -->
        <div class="alert alert-danger" *ngIf="resetPasswordForm.get('newPassword')?.errors && resetPasswordForm.get('newPassword')?.touched || isNotValidForm">
            <p class="mb-0" *ngIf="resetPasswordForm.get('newPassword')?.getError('required')">Password is required</p>
            <p *ngIf="resetPasswordForm.get('newPassword')?.getError('pattern')" class="mb-0">Password Invalid</p>
        </div>


        <button type="submit" class="btn btn-lg bg-main text-white mt-2">reset Password</button>
    </form>
</div>

