
<div class="container pt-4">
    <p class="h1 text-center"><span class="text-danger ">{{specificBrandData.name}}</span>  Brand</p>
</div>

<div class="container p-5 mt-3 bg-main-light">
    <div class="row px-5 align-items-center border-2 border-black  ">
        <div class="col-md-6 px-0 ">
            <h1 class="mb-0 ps-5">{{specificBrandData.name}}</h1>
            <h6 class="text-main ps-5 fw-bold mb-0 mt-3 ">{{specificBrandData.slug}}</h6>
        </div>

        <div class="col-md-6 px-0 ">
            <img [src]="specificBrandData.image" alt="brand-image" class="w-100">
        </div>
    </div>
</div>
