
<div class="container py-5 ">
    <h2>Please enter your email</h2>

    <div *ngIf="apiError" class="alert alert-danger apiError">

        {{apiError | trim:9}}  <!-- lw 3ndo error ytb3o -->
        
    </div>

    <form [formGroup]="forgetPassForm" (ngSubmit)="forgetPass(forgetPassForm)">

        <div class="form-floating mb-3">
            <input type="email" class="form-control" formControlName="email" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email</label>
          </div>

        <div class="alert alert-danger" *ngIf="forgetPassForm.get('email')?.errors && forgetPassForm.get('email')?.touched || isNotValidForm">
            <p class="mb-0" *ngIf="forgetPassForm.get('email')?.getError('required')">Email is required</p>
            <p class="mb-0" *ngIf="forgetPassForm.get('email')?.getError('email')">Email invalid</p>
        </div>


        <button type="submit" class="btn btn-lg bg-main text-white mt-2">Verify</button>
    </form>


</div>


